.land{
    height: 300px;
    border: 1px solid blue;
}
.one{
    height: 80vh;
    /* border: 1px solid red; */
}
.two{
    height: 80vh;
    /* border: 1px solid red; */
}
.two img{
    width: 100%;
    /* border: 1px solid black;     */
    
}